body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f2f2f2;
    margin: 0;
    padding: 20px;
}

h1 {
    margin-top: 10px;
    color: #333;
}

.card {
    background: #fff;
    padding: 18px;
    max-width: 360px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.15);
}

strong {
    color: #333;
}

#wifiStatus {
    font-weight: bold;
}

#ipAddress {
    color: #555;
}
